node-modules
__tests__
coverage
.git
webpack.config.js
.eslintrc
.eslintrc.txt
.babelrc.js
client/src/**/*
bashScript.sh
bashScript2.sh
bashScript3.sh
bashScript4.sh
bashScript5.sh
bashScript6.sh
bashScript7.sh